@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    top: -100%;
    left: -15%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}